@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}
*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  position: relative;
  font-size: 1.5rem;
  background-color: var(--very-dark-blue);
  font-family: 'Overpass', sans-serif;
}
main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}
.rating-card{
  border-radius: 15px;
  padding: 2em 1.5em;
  background-color: var(--dark-blue);
  max-width: 360px;
}


.star-icon{
  background-color: var(--very-dark-blue);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.rate-question{
  color: var(--white);
  margin: 1em 0;
}
.rating-numbers{
  margin: 1em 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.rating-numbers li{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-grey);
  background-color: var(--very-dark-blue);
  cursor: pointer;
}
/* Style the selected item */
li.selected-rate{
  transition: background-color .5s ease;
  background-color: var(--light-grey);
  color: var(--white);
}
/* Only affect the list item without the '.selected-rate' class */
.rating-numbers li:hover:not(.selected-rate){
  transition: background-color .25s ease-in-out;
  color: var(--white);
  background-color: var(--orange);
}
.summary{
  color: var(--light-grey);
  line-height: 1.4;
}

button{
  margin-top: 1.5em;
  display: block;
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  padding: .85em 1em;
  cursor: pointer;
}
button:hover{
  background-color: var(--white);
  color: var(--orange);
  transition: background-color .3s ease-in-out;
  /* transition: color .7s ease; */
}

/* Styles for the modal */
.thanks-modal{
  transform: scale(0.1);
  opacity: 0.2;
}
.modal-open{
  background-color: var(--very-dark-blue);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1.7em;
  color: var(--white);
  transition: opacity .25s ease, transform .5s ease;
  opacity: 1;
  transform: scale(1);
}
.modal-content{
  max-width: 360px;
  border-radius: 15px;
  padding: 2em 1.5em;
  background-color: var(--dark-blue);
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.rating-display{
  background-color: var(--very-dark-blue);
  padding: 0.45em .75em;
  margin: .5em 0;
  border-radius: 20px;
  color: var(--orange);
}
.modal-content p{
  text-align: center;
  line-height: 1.5;
}
