@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
	--orange: hsl(25, 97%, 53%);
}
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Overpass", sans-serif;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	position: relative;
	font-size: 1.5rem;
	background-color: var(--very-dark-blue);
	color: white;
}
main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5em;
}

.star-icon {
	background-color: var(--very-dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 100%;
}
.border-none {
	border: 0;
}
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.items-center {
	align-items: center;
}
